{% extends 'meetup/base.html' %}

{% block 'title' %}
{{ meetup.title }}
{% endblock %}

{% block 'content' %}
{{ meetup.title }} at {{ meetup.when }}

<hr />


{% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{message.tags}}{%endif%}">
        <i class="icon-thumbs-up"></i> {{ message }}
    </div>
    {% endfor %}
{% endif %}

{% if user.is_authenticated %}
    {% if not user_rsvp %}
    <div class="alert alert-info">
        You have not RSVP'd to this meetup.<br />
    </div>
    {% endif %}

    <form action="" method="POST">{% csrf_token %}
        <div class="btn-group">
            <button name="rsvp" value="2"
                    class="btn {% if user_rsvp == 2 %}btn-success{% endif %}">
                <i class="icon-ok"></i> Attending
            </button>
            <button name="rsvp" value="1"
                    class="btn {% if user_rsvp == 1 %}btn-danger{% endif %}">
                <i class="icon-remove"></i> Not attending
            </button>
        </div>
    </form>
{% endif %}

{% for rsvp in rsvps %}
    {% ifchanged rsvp.rsvp %}
        {% if rsvp.rsvp == 2 %}
            <h4>Attending:</h4>
        {% else %}
            <h4>Not attending:</h4>
        {% endif %}
    {% endifchanged %}
    {{ rsvp.user }}

{% endfor %}

{% endblock %}
